:root{
    --red-200: #600F18;
    --red-100: #D26C6A;
    --gray-100: #E5E5E5;
    --gradient: linear-gradient(90deg, #D26C6A, #600F18);
    --rubik-font: "Rubik", sans-serif;
    --ubuntu-font: "Ubuntu", sans-serif;
    --padding: 2rem 4rem;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--rubik-font);
    box-sizing: border-box;
}