/* Base Styles */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100dvh;
  overflow-y: hidden;
}

/* Left Section (Form) */
.left-section {
  background: linear-gradient(90deg, #d26c6a, #600f18);
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-section h2 {
  font-family: var(--ubuntu-font);
}

.form-wrapper {
  width: 100%;
  max-width: 800px;
  text-align: left;
}

.h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #fff; /* Adjusted color to fit the gradient */
}

.p {
  color: #ccc; /* Adjusted color to fit the gradient */
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group input,
.input-group select {
  border: 1px solid #fff;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: #fff;
  padding-inline: 2rem;
}

.input-group select option {
  background-color: var(--red-200);
}

.input-group-icon {
  position: absolute;
  top: 33%;
  left: 0.6rem;
  color: white;
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.656);
}

.submit-region {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signin-btn {
  width: 10rem;
  padding: 18px 12px;
  background-color: white;
  color: var(--red-200);
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}

.signin-btn:hover {
  opacity: 0.9;
}

.signup-link a {
  color: var(--red-100);
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* Right Section (Images) */
.right-section {
  flex: 1.5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  height: max-content;
  overflow-y: hidden;
}

.right-image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.right-section2,
.right-section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right-section1 {
  top: 2rem;
}

.right-section2 {
  top: -2rem;
}

.error-message {
  color: var(--red-200);
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .left-section {
    padding: 20px;
  }

  .right-section {
    display: none; /* Hide images on mobile */
  }

  .social-login {
    display: none; /* Hide social login buttons on mobile */
  }
}

@media (min-width: 769px) {
  .left-section {
    padding: 40px;
  }

  .right-section {
    display: grid;
  }
}
